


<!--TABLA DE PRODUCTOS SERVICIOS-->
<div class="overflow-x-auto">
  <table class="table table-xs">
    <thead>
      <tr>
        <th></th>
        <th>Producto/Servicio</th>
        <th>Descripción</th>
        <!--Variar segun eleccion, hacer if-->
        <th>Unidad</th>
        <th>Cantidad</th>
        <th>Valor Unitario</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th> <!--Automatico nro fila xd-->
        <td>Masterseal 590</td>
        <td>Aplicación sello de filtración activa en hormigón con mortero hidráulico Masterseal 590</td>
        <td>N/A</td>
        <td>1</td>
        <td>190000</td>
        <td>$190.000</td>
      </tr>
    </tbody>
  </table>
</div>
